<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <img src="https://picsum.photos/300/200" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-center"> {{ getTitulo() }} </h5>
                <ul class="list-group">
                    <li class="list-group-item">Genero : {{ getGenero() }}</li>
                    <li class="list-group-item">Paginas : {{ getPaginas() }}</li>
                    <li class="list-group-item">Autor : {{ getAutor() }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>